# Build artifacts
target/

# Python
__pycache__/
*.abi3.so
*.so
*.pyd

# Build lock
.pbuild.lock

# mkdocs build output
site/

# Linux build output
software/linux/
software/riscv-tests/
software/bin
software/build

software/torture/failures/
software/torture/build_vec/
software/torture/build/
software/torture/generated_vec/
software/torture/generated/
