[package]
name = "riscv-cpu-sim"
version = "2.0.0"
edition = "2024"
build = "build.rs"

[dependencies]

[features]
always-trace = []

[profile.release]
lto = "fat"
opt-level = 3

[build-dependencies]
which = "6"
